page {
    font-size: 14px;
}

 .header {
    margin-top: 10px;
}

/*
 * Block
 */
.block {
    position: relative;
    width: 100%;
}

/*
 * Scope
 */
.block .scope {
    position: relative;
    height: 100px;
    background-repeat: no-repeat;
}

.block .g-scope {
    background-image: url(img/sol.png);
    background-position: 0 -2px;
}

.block .f-scope {
    background-image: url(img/fa.png);
    background-position: 0 13px;
}

.block .scope .line {
    margin-top: -3px;
    border-bottom: solid 1px black;
}

/*
 * Note
 */
.note, .notesplit, .split {
    position: absolute;
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
}

.note {
    background-image: url(img/ronde.png);
}

.notesplit {
    background-image: url(img/rondesplit.png);
}

.split {
    background-image: url(img/split.png);
}
