* {
    box-sizing: border-box;
}

page {
    font-size: 14px;
}

table {
    border-collapse: collapse;
}

/*
 * Block
 */
.block {
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.block .paired {
    top: -15px;
}

/*
 * Scope
 */
.block .scope {
    position: relative;
    height: 100px;
    background-repeat: no-repeat;
}

.block .g-scope {
    background-image: url(img/sol.png);
    background-position: 0 12px;
}

.block .f-scope {
    background-image: url(img/fa.png);
    background-position: 0 20px;
}

.block .scope .line {
    height: 2px;
    border-bottom: solid 1px black;
}

/*
 * Note
 */
.note, .notesplit, .split, .not {
    position: absolute;
    height: 13px;
    width: 22px;
}

.note {
    background-image: url(img/ronde.png);
}

.notesplit {
    background-image: url(img/rondesplit.png);
}

.split {
    background-image: url(img/split.png);
}
